@media screen and (max-width: 1200px) and (min-width: 993px) {
    .container {
        width: 970px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 993px) and (min-width: 769px) {

    .container {
        width: 750px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {

    .container {
        width: 100%;
    }

    /*-------- header ----------*/

    .header-logo {
        display: inline-block;
        float: none;
        margin-top: 15px;
    }

    /*--------- menu ------------*/

    .header-menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
        background: rgb(0, 224, 208);
    }

    .header-menu-item_active a{
        color: black;
    }

    .slicknav_btn {
        padding: 15px 30px;
        color: #fff;
        text-decoration: none;
        display: block;
    }

    .slicknav_menutxt {
        position: relative;
        top: 7px;
        float: left;
        font-size: 15px;
    }

    .header-menu-item {
        width: 14%;
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .fa-bars {
        float: right;
        font-size: 25px;
    }

    /* ------- slider ------------*/

    .slider {
        width: 90%;
    }

    /*--------- content ------------*/

    .story-content {
        padding: 0 20px;
        text-align: center;
    }

    .story-img {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .story-info {
        margin-left: 0;
        width: 100%;
    }

    .expertise-content-item {
        padding: 0 20px;
        box-sizing: border-box;
        width: 50%;
        height: 253px;
    }

    .expertise-content-item:first-child,
    .expertise-content-item:nth-child(2),
    .expertise-content-item:nth-child(3),
    .expertise-content-item:nth-child(4) {
        border-bottom: 1px solid rgba(65, 61, 75, 0.302);
    }

    .expertise-content-item:first-child,
    .expertise-content-item:nth-child(3),
    .expertise-content-item:nth-child(5) {
        border-right: 1px solid rgba(65, 61, 75, 0.302);
    }
}



@media screen and (max-width: 479px) and (min-width: 320px) {

    .container {
        width: 100%;
    }

    /*-------- header ----------*/
    .header-logo {
        display: inline-block;
        float: none;
        margin-top: 15px;
    }

    /*--------- menu ------------*/

    .header-menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
        background: rgb(0, 224, 208);
    }

    .header-menu-item_active a{
        color: black;
    }

    .slicknav_btn {
        padding: 15px 30px;
        color: #fff;
        text-decoration: none;
        display: block;
    }

    .slicknav_menutxt {
        position: relative;
        top: 7px;
        float: left;
        font-size: 15px;
    }

    .header-menu-item {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .header-menu-link {
        padding: 10px 0;
        display: block;
    }

    .fa-bars {
        float: right;
        font-size: 25px;
    }

    /* ------- slider ------------*/

    .slider {
        margin-top: 100px;
        width: 90%;
    }

    .slider-wrap {
        padding-bottom: 50px;
    }

    /*--------- content ------------*/

    .story-content {
        padding: 0 20px;
        text-align: center;
    }

    .story-img {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .story-info {
        margin-left: 0;
        width: 100%;
    }

    .expertise-content-item {
        padding: 0 20px;
        box-sizing: border-box;
        width: 100%;
        height: 253px;
        border-bottom: 1px solid rgba(65, 61, 75, 0.302);
    }

    .expertise-content-item:last-child {
        border: none;
    }
}